
<div class="container">
        <div class="row">
                <div class="search " style="margin-right:5px">
                    <label>Search:</label>
                    <input type="text" ng-model="search">
               </div>
                <button type="button" class="btn btn-success " ng-click="vm.showAdd=true" style="margin-right:5px; width:22%">Add</button>
                <button type="button" ng-click="vm.hideAuthor=true;vm.hideInputUpdate=true"class="btn btn-info"style="margin-right:5px;width:22%">Edit</button>
                <button type="button" ng-click="vm.hideAuthor=false;vm.hideInputUpdate=false"class="btn btn-info " style="margin-right:5px;width:22%" >Save</button>
            </div>
        <table>
            <tr>
                <th>
                    Author
                </th>
                <th>
                    Country
                </th>
                <th>
                    Title
                </th>
                <th>
                    Delete
                </th>
                
     
            </tr>

            <tr ng-repeat="da in vm.data |filter:search |startFrom:(vm.currentPage-1)*vm.pageSize|limitTo:vm.pageSize">
             
                    <th>
                            <div ng-hide="vm.hideAuthor" ng-model="da.author" >
                                {{da.author}}
                            </div>
                        <div ng-show="vm.hideInputUpdate">
                         <input class="form-control"  type="text" id="formGroupInputSmall" placeholder="Update Author" ng-model="da.author">
                        </div>
                    </th>
                <!-- <th>{{da.author}}</th> -->
                <!-- <th>{{da.country}}</th> -->
                <th>
                        <div ng-hide="vm.hideAuthor" ng-model="da.country" >
                            {{da.country}}
                        </div>
                    <div ng-show="vm.hideInputUpdate">
                     <input class="form-control"  type="text" id="formGroupInputSmall" placeholder="Update Country" ng-model="da.country">
                    </div>
                </th>
                <!-- <th>{{da.title}}</th> -->
                <th>
                        <div ng-hide="vm.hideAuthor" ng-model="da.title" >
                            {{da.title}}
                        </div>
                    <div ng-show="vm.hideInputUpdate">
                     <input class="form-control"  type="text" id="formGroupInputSmall" placeholder="Update Title" ng-model="da.title">
                    </div>
                </th>
                <th>
                    <button type="button"  ng-click="vm.DeleteData(da)" class="btn btn-danger">Delete</button>
                </th>
                    
                </tr>
                
        </table>
        
    <div ng-show="vm.showAdd">
            <h3>Add New Author</h3>
            <form class="form-horizontal">
                 <div class="form-group form-group-sm">
                   <label class="col-sm-2 control-label" for="formGroupInputSmall">New data</label>
                   <div class="col-sm-8">
                        <input class="form-control" type="text" id="formGroupInputSmall" placeholder="Enter New Author" ng-model="vm.newAuthor">
                        <input class="form-control" type="text" id="formGroupInputSmall" placeholder="Enter New book" ng-model="vm.book">
                     <input class="form-control" type="text" id="formGroupInputSmall" placeholder="Enter New Country" ng-model="vm.category">
                   </div>
                   <!-- vm.newAuthor -->
                   <div class="col-sm-2">
                         <button type="submit" class="btn btn-success" ng-click="vm.addNew()">Add</button>
                   </div>
                 </div>
             </form>
        </div>
         <ul uib-pagination total-items="vm.data.length" ng-model="vm.currentPage" items-per-page="vm.pageSize"></ul> 
</div>

